<div class="center">
  <h1>Instagram</h1>
  <h2>
  	ようこそInstagramへ
  </h2>

  <div class="signup-box">
    <p><%= link_to"Facebookでログイン", "#", class:"btn" %></p>
    <p>または</p>
    <p><%= link_to "新規登録", sign_up_path, class:"btn" %></p>
  </div>
  <div class="signin-box">
    <p><%= link_to "ログインする", login_path, class:"btn" %></p>
  </div>


</div>