<div class="center">
  <h1>Instagram</h1>
  <h2>
  	ようこそInstagramへ
  </h2>
  <div class="sinup-box">
    <p><%= link_to"Facebookでログイン", "#", class:"btn" %></p>
    <p>または</p>
    <p><%= link_to "新規登録", "#", class:"btn" %></p>
  </div>
</div>