<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="each-comment row">
      <span><%= link_to "#{comment.user.user_name}", user_path(comment.user.id) %></span>
      <span><%= comment.content %></span>
      <% if comment.user == current_user %>
        <span>
          <%= link_to micropost_comment_path(comment.micropost_id, comment.id), method: :delete, remote: true do %>
          <i class="fas fa-comment-slash"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>