<span id="liked-icon">
  <% if current_user.already_liked?(micropost) %>
    <%= render 'likes/unlike', micropost: micropost %>
  <% else %>
    <%= render 'likes/like', micropost: micropost %>
  <% end %>
</span>