<div id="like-<%= micropost.id %>">
  <% if current_user.already_liked?(micropost) %>
    <%= render 'likes/unlike', micropost: micropost %>
  <% else %>
    <%= render 'likes/like', micropost: micropost %>
  <% end %>
</div>