<%= provide(:title, "Search...")%>

<div class="microposts_box">
    <ol class="microposts">
      <%= render @search_microposts %>
    </ol>
    <%= will_paginate @search_microposts %>
</div>
<div class="modal fade" id="micropost-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

