<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to"このアプリについて", about_path %></li>
      <% if user_signed_in?%>
        <li><%= link_to"投稿", new_micropost_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>